@{
    ViewBag.Title = "Home Page";
}

<div>
    <h1 style="font-family:'Verdana';">
        ABOUT APPLAB SYSTEMS

    </h1>

     
     <br>
     <i>
        <p style="font-family:verdana;">
            ALS a strong reputation as a business and information technology consulting company. We assist enterprises, organizations and government agencies maximize their corporate information in their database using best in breed, best in class Business Intelligence software solutions.

            information technology consultingOur values are integrity, leading change, excellence, and respect for the individual, learning and sharing. Our success is based on our ability to be flexible while adhering to a strict project management methodology. Large and small organizations alike enjoy our personalized, highly responsive customer service ALS Inc. is your partner for a wide spectrum of IT services including Information Systems Strategy Planning, Quality Assurance , Customized Software Solutions, Packaged Software Implementation, Migration, Web Solutions, Porting and Staff Augmentation.

            We have created an environment for our clients resulting in improved efficiencies, reduced costs, deliverables ahead of schedule and customer satisfaction.. ALS Inc is a leading information technology (IT) services company that specializes in providing complete consulting solutions and staff augmentation to its clients. We provide on-time, on-budget, quality service to our clients and consistently meet their expectations. We are known for our superior execution on a sustained basis.

            Our Business Intelligence offerings integrate data from various services to power precise analyses - product profitability, detailed customer profiles and spending habits. ALS Inc empowers your decision makers by delivering the information needed to stay ahead in competitive industries. World class analytical expertise, best-of-breed BI package proficiency, rigorous business methodologies - ALS Inc gives the solutions you are looking for.
   
     </i>
        </br> 
         </font> 
         </p>

 </div>
